@tailwind base;
@tailwind components;
@tailwind utilities;


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.navBarBg {
    background-color: #1c1c1c;
    border-radius: 0;
    border: 0px;
}

.formDevolucion input,
.formDevolucion textarea {
    padding-left: .5em;
}
